@charset "utf-8";


/* Body styles */
html {

    background: url(help.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    overflow: auto;
}

html body {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(77, 103, 247, 0.555);
    height: 100%;
    overflow: auto;
}


/* Navigation Styles */
nav {
    display: table;
    width: 100%;
    text-align: center;
}

nav ul {
    display: table-row;
    list-style-type: none;
    width: 100%;
    background-color: white;

}

nav ul>li {
    display: table-cell;
    width: 25%;
    border: 2px solid black;


}

nav ul li a {

    font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
}

nav>ul>li>a:link,
nav>ul>li>a:visited {
    color: black;

}

nav>ul>li>a:active,
nav>ul>li>a:hover {
    color: rgb(122, 27, 27);

    text-decoration: none;
}

img {
    float: left;
    margin-left: 8%;
    padding-top: 10%;

}



/* Name styles */
h1 {
    clear: both;
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
    color: whitesmoke;

}

/* paragraph styes */



article p {
    border: 5px double rgb(0, 0, 0);
    width: 60%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 110%;
    color: whitesmoke;
    background-color: rgb(6, 134, 106);
    padding: 5px;
}

section p {
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

/* Footer Styles */
body>footer address {
    background-color: whitesmoke;
    color: black;
    font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
    text-align: center;


}

/* Table styles */

table {
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 2%;
    border: 3px solid grey;
    border-collapse: collapse;

}

th,
td {
    border: 1px solid gray;
    font-size: 0.85em;
    font-weight: normal;
    padding: 5px;
    text-align: top;
    text-align: center;
}