@charset "utf-8";


/* Body styles */
html {

    background: url(help.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

html body {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(77, 103, 247, 0.555);
    height: 100%;
}


/* Navigation Styles */
nav {
    display: table;
    width: 100%;
    text-align: center;
}

nav ul {
    display: table-row;
    list-style-type: none;
    width: 100%;
    background-color: white;

}

nav ul>li {
    display: table-cell;
    width: 25%;
    border: 2px solid black;


}

nav ul li a {

    font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
}

nav>ul>li>a:link,
nav>ul>li>a:visited {
    color: black;

}

nav>ul>li>a:active,
nav>ul>li>a:hover {
    color: rgb(122, 27, 27);

    text-decoration: none;
}

img {
    float: left;
    margin-left: 8%;
    padding-top: 10%;

}


/* Name styles */
h1#name {
    clear: both;
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
    color: whitesmoke;

}

/* paragraph styes */



article p {
    width: 50%;
    margin-left: 42%;
    margin-top: 1%;
    border: 5px double rgb(0, 0, 0);
    padding: 10px;
    border-radius: 25px;
    font-size: 110%;
    color: whitesmoke;
    background-color: rgb(6, 134, 106);

}

article section {
    margin-top: 5%;
    padding: 1%;
}

/* Footer Styles */
body>footer address {
    background-color: whitesmoke;
    color: black;
    font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
    text-align: center;
    margin-top: 5%;

}